<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form action='/team' method='POST'>
     <label for='team_name'>Team Name:</label>
     <label for='coach'>Coach:</label>
     <label for='point_guard'>Point Guard:</label>
     <label for='shooting_guard'>Shooting Guard:</label>
     <label for='small_forward'>Small Forward:</label>
     <label for='power_forward'>Power Forward:</label>
     <label for='center'>Center:</label>
     <p><input type='text' name='team_name' id='team_name'></p>
     <p><input type='text' name='coach' id="coach"></p>
     <p><input type='text' name='point_guard' id='point_guard'></p>
     <p><input type='text' name='shooting_guard' id='point_guard'></p>
     <p><input type='text' name='small_forward' id='point_guard'></p>
     <p><input type='text' name='power_forward' id='power_forward'></p>
     <p><input type='text' name='center' id='center'></p>
     <input type="submit" id='Submit'>
     
   </form>
 </body>
</html>


